.header__lang-link {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    margin-right: 18px;
}

.header__lang-link:hover {
    opacity: 0.8;
}

.header__lang-link:last-child {
    margin-right: 0;
}

@media (max-width: 320px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}