.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    max-width: calc(100% - 48px * 2);
    width: 100%;
}

@media (max-width: 1024px) {
    .photo-grid {
        gap: 14px;
    }
}

@media (max-width: 768px) {
    .photo-grid {
        gap: 16px;
        max-width: calc(100% - 24px * 2);
    }
}

@media (max-width: 320px) {
    .photo-grid {
        gap: 12px;
        max-width: calc(100% - 16px * 2);
    }
}