.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: calc(100% - 48px * 2);
    width: 100%;
    margin-top: 28px;
}

@media (max-width: 768px) {
    .header {
        max-width: calc(100% - 24px * 2);
    }
}

@media (max-width: 425px) {
    .header {
        max-width: calc(100% - 16px * 2);
        margin-top: 16px;
    }
}