.footer__link {
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    color: white;
    opacity: 1;
    margin-right: 18px;
    margin-bottom: 0;
}

.footer__link:hover {
    opacity: 0.8;
}

@media (max-width: 705px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 32px;
        margin-right: 0;
    }
}