    .lead__title {
        font-style: normal;
        font-weight: 900;
        font-size: 96px;
        line-height: 1.04;
        text-align: center;
        max-width: 720px;
        width: 100%;
        margin: 0;
    }
    
    @media (max-width: 768px) {
        .lead__title {
            max-width: calc(100% - 24px * 2);
            width: 100%;
        }
    }
    
    @media (max-width: 720px) {
        .lead__title {
            max-width: calc(100% - 16px * 2);
            width: 100%;
            font-size: 40px;
            line-height: 1.1;
        }
    }