/* .place__paragraph-item {
    margin-block-start: 0;
            margin-block-end: 1em;

            font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    font-family: "Inter";
} */