.footer__copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: white;
}

@media (max-width: 320px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 14px;
    }
}