.lead__subtitle {
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    margin-top: 32px;
    max-width: 640px;
    width: 100%;
}

@media (max-width: 320px) {
    .lead__subtitle {
        max-width: calc(100% - 16px * 2);
        width: 100%;
        margin-top: 16px;
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 1.25;
        text-align: center;
    }
}