.cover {
    display: flex;
    flex-direction: column;
    background-image: url('../../images/cover-trains.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-decoration: none;
    color: #FFFFFF;
    object-fit: contain;
    max-width: calc(100% - 48px *2);
    width: 100%;
    min-height: 740px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

.cover::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #2A2C2F;
    opacity: 0.3;
    left: 0;
    top: 0;
    z-index: -1;
}

.cover:hover:after {
    opacity: 0.8;
    transition-duration: .3s;
}

@media (max-width: 1024px) {
    .cover {
        max-width: 100%;
        min-height: 640px;
    }
}

@media (max-width: 768px) {
    .cover {
        max-width: 100%;
        min-height: 480px;
    }
}

@media (max-width: 320px) {
    .cover {
        max-width: 320px;
        min-height: 200px;
    }
}