.place__link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: none;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 12px;
    text-decoration-line: underline;
}

.place__link:hover {
    opacity: 0.8;
}