.lead__caption {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 1.4;
    width: calc(100% - 100px * 2);
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .lead__caption {
        width: calc(100% - 24px * 2);
        margin-left: 0;
        margin: 8px;
    }
}

@media (max-width: 320px) {
    .lead__caption {
        width: calc(100% - 16px * 2);
        margin-left: 0;
        margin: 8px;
    }
}