        .place {
            display: grid;
            grid-template-columns: 460px 1fr;
            gap: 48px 40px;
            box-sizing: border-box;
            margin-bottom: 80px;
        }
        
        .place:last-child {
            padding-bottom: 0;
        }
        
        @media (max-width: 1024px) {
            .place {
                max-width: 100%;
                grid-template-columns: 440px 1fr;
                gap: 48px 32px;
            }
            .place:last-child {
                margin-bottom: 92px;
            }
        }
        
        @media (max-width: 768px) {
            .place {
                grid-template-columns: 340px 1fr;
                gap: 48px 28px;
                margin-bottom: 73px;
            }
        }
        
        @media (max-width: 620px) {
            .place {
                grid-template-columns: 320px;
                gap: 32px;
                margin-bottom: 50px;
            }
            .place:last-child {
                padding-bottom: 0;
            }
        }