.place {
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: 48px 40px;
    box-sizing: border-box;
    margin-bottom: 80px;
}

.place:last-child {
    margin-bottom: 92px;
}

@media (max-width: 1024px) {
    .place {
        grid-template-columns: 440px 1fr;
        gap: 48px 32px;
    }
}

@media (max-width: 800px) {
    .place {
        grid-template-columns: 340px 1fr;
        gap: 48px 28px;
        margin-bottom: 73px;
    }
    .place:last-child {
        margin-bottom: 90px;
    }
}

@media (max-width: 650px) {
    .place {
        grid-template-columns: auto;
        gap: 32px;
        max-width: 100%;
        margin-bottom: 50px;
    }
    .place:last-child {
        margin-bottom: 0;
    }
}