.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 92px;
    margin-bottom: 24px;
    max-width: calc(100% - 48px *2);
    width: 100%;
}

@media (max-width: 768px) {
    .footer {
        margin-top: 88px;
        max-width: calc(100% - 24px *2);
        width: 100%;
    }
}

@media (max-width: 320px) {
    .footer {
        display: block;
        margin-top: 64px;
        max-width: 100%;
        padding-left: 16px;
    }
}